@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
h1, h2, h3 { font-family: var(--font-montserrat); }
p, span, li { font-family: var(--font-lora); }
body {
  background: var(--background); 
  color: var(--foreground); 
  font-family: var(--font-lora);
}
h1, h2, h3 { font-family: var(--font-montserrat); }
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  font-size: 10px !important;
  color: white !important;
}


.swiper {
  --swiper-navigation-size: 30px;
  --swiper-navigation-color: white;
  
}
.swiper-button-next,
.swiper-button-prev {
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 9999px;
}